#map_wrapper {
    background-color: black;
    position: relative;
    background-color: white;
    min-width: 79vw;
    max-height: 80vh;
    overflow: scroll;
}

#map_floorplan{
    width: 100%;
}

#map_paths{
    position: absolute;
    width: 100%;
}

.pin {
    width: 24px;
    height: 24px;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    border: 1px solid rgb(255, 174, 0);
}


