#map_wrapper {
    position: relative;
    background-color: white;
    width: 20vw;
    top: 50%;
    left: 50%;
}

#map{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.pin {
    z-index: 2;
    width: 10px;
    height: 10px;
    top: 16px;
    left: 16px;
    cursor: grab;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    border: 1px solid rgb(255, 174, 0);
}

