*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(54, 54, 54) 1px, transparent 1px), linear-gradient(to right, rgb(54, 54, 54) 1px, transparent 1px);
    background-size: 100px 100px;
    background-color: #18191a;
    width: 120vw;
    height: 120vh;
}

.info_data{
    color: white;
}

#editor_bar{
    border: 1px solid white;
    position: fixed;
    left: 40vw;
    bottom:10vh;
    height: 5vh;
    display: flex;
    flex-direction: row;
    z-index: 3;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#info_wrapper{
    background-color: #18191a;
    z-index: 3;
    position: fixed;
    left: 2vw;
}

#mapwidth_input{
    z-index: 3;
    border-radius: 4%;
    background-color: whitesmoke;
}




