*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(54, 54, 54) 1px, transparent 1px), linear-gradient(to right, rgb(54, 54, 54) 1px, transparent 1px);
    background-size: 100px 100px;
    background-color: #18191a;
    width: 99vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
}

line {
    stroke: black;
    stroke-width: 2;
}

.info_data{
    color: white;
}

#console {
    width: 100%;
    height: 20vh;
}

#editor_bar{
    border: 1px solid white;
    width: 20vw;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    z-index: 3;
    background-color: whitesmoke;
}

image{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#pin_wrapper{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 10px 4px;
    gap: 1vh;
}

#edge_wrapper{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 10px 4px;
    gap: 1vh;
}

#info_wrapper{
    background-color: #18191a;
    z-index: 3;
}

#mapwidth_input{
    z-index: 3;
    border-radius: 4%;
    background-color: whitesmoke;
}




